@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background-color: #c4d7b2;
  --name-color: #a7ede7;

  /* Priority Theme Color */
  --background-theme-color: #212a3e;
  --content-theme-color: #9ba4b5;
  --content-hover-color: #dafffb;

  /*Secondary colors*/
  --backsec-theme-color: #001c30;
  --contentsec-theme-color: #64ccc5;
}

html {
  scroll-behavior: smooth;
  transition: 0.2s ease;
}

body {
  background-color: var(--background-theme-color);
  color: #fff;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Poppins;
}

/* Media queries for flexible devices like mobile or tablets*/
@media only screen and (max-width: 670px) {
  .intro_container > .intro_title {
    padding: 1rem !important;
  }

  .intro_container > .intro_title > .person_title {
    display: flex;
    font-size: 10px;
  }

  .intro_container > .intro_title > .person_name {
    display: flex;
    font-size: 30px !important;
  }

  .intro_container > .intro_about > .about_title {
    display: flex;
    padding: 1rem;
    font-weight: bolder;
    font-size: 20px !important;
  }

  .intro_container > .intro_about > p {
    padding: 1rem;
  }

  .intro_about > p {
    font-size: 15px;
  }
  /* 
    .intro_container>.intro_title>.button_container {
        display: flex;
    } */
}

@media only screen and (max-width: 720px) {
  .intro_container > .intro_title > .button_container > a {
    padding: 8px !important;
    margin: 8px !important;
  }
}

@media only screen and (max-width: 595px) {
  .header {
    font-size: 10px;
  }
  .intro_container > .intro_title > .button_container > a {
    padding: 5px !important;
    margin: 5px !important;
  }
}

@media only screen and (max-width: 500px) {
  .intro_container > .intro_title > .button_container > a {
    align-items: center;
    padding: 5px !important;
    margin: 5px !important;
  }
}

@media only screen and (max-width: 425px) {
  .intro_container > .intro_title > .person_title {
    display: flex;
    font-size: 15px !important;
    font-weight: bolder;
  }

  .intro_container > .intro_title > .person_name {
    display: flex;
    font-size: 20px !important;
    font-weight: bolder;
  }

  .intro_container > .intro_about > .about_title {
    display: flex;
    font-weight: bolder;
    padding: 1rem;
    font-size: 15px !important;
  }

  .intro_container > .intro_about > p {
    font-size: x-small;
    padding: 1rem;
  }

  .intro_about > p {
    font-size: 15px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--content-theme-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--content-theme-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--content-hover-color);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--content-hover-color);
  border-radius: 1rem;
}

.main_container {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

/* Header Section */

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 8px var(--content-theme-color);
  position: sticky;
}

.header > span {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin: 0;
}

.header > .menubar {
  display: flex;
  align-items: center;
}

.header > .menubar > .change_theme {
  margin: 1rem;
  font-size: 20px;
}

.header > .menubar > .change_theme > i {
  border-radius: 100%;
}

.header > .menubar > .change_theme > i:hover {
  box-shadow: 0 0 15px var(--content-hover-color);
}

.header > .menubar > ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.header > .menubar > ul > li {
  margin-right: 1rem;
  padding: 8px;
  border-radius: 1rem;
}

.header > .menubar > ul > li > a {
  text-decoration: none;
  color: #fff;
}

.header > .menubar > ul > li:hover {
  padding: 8px;
  border-radius: 1rem;
  background-color: var(--content-theme-color);
  transition: 0.2s ease;
  color: #fff;
}

.intro_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px var(--content-hover-color);
}

.intro_container > .intro_title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}

.intro_container > .intro_title > .social_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro_container > .intro_title > .social_container > a > .social_icons {
  padding: 8px;
  margin: 8px;
  border-radius: 1rem;
  font-size: 25px;
  background-color: var(--content-theme-color);
  transition: 0.2s ease;
}

.intro_container > .intro_title > .social_container > a > .social_icons:hover {
  background-color: var(--content-hover-color);
  box-shadow: 0 0 10px var(--content-hover-color);
}

.intro_container > .intro_title > .social_container > .line_showbar {
  border-left: 4px solid var(--content-theme-color);
  height: 5rem;
  padding: 1px;
}

.intro_container > .intro_title > .intro_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro_container > .intro_title > .intro_area > .person_title {
  display: flex;
  font-size: 20px;
}

.intro_container > .intro_title > .intro_area > .person_name {
  display: flex;
  font-size: 40px;
}

.intro_container > .intro_title > .intro_area > .button_container {
  display: flex;
}

.intro_container > .intro_title > .intro_area > .button_container > a {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--content-theme-color);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease;
}

.intro_container > .intro_title > .intro_area > .button_container > a:hover {
  background-color: var(--content-hover-color);
  color: #000;
  box-shadow: 0 0 10px var(--content-hover-color);
}

.intro_container > .intro_about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}

.intro_container > .intro_about > .about_area {
  display: flex;
  width: 80%;
}

.intro_container > .intro_about > .about_area > .about_title {
  font-weight: bolder;
  font-size: 30px;
}
.intro_container > .intro_about > .about_area > .about_textarea {
  display: flex;
  width: 70%;
}

.intro_container > .intro_about > .about_area > p > .about_name {
  font-weight: bold;
}

.intro_container > .intro_about > .scroll_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  position: relative;
}

.intro_container > .intro_about > .scroll_area > .scroll_component {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  width: 20%;
}

.intro_container > .intro_about > .scroll_area > .scroll_component > span {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  transform: rotate(90deg);
  white-space: nowrap;
  padding: 8px;
  background-color: var(--content-theme-color);
  border-radius: 1rem;
}

.intro_container > .intro_about > .scroll_area > .scroll_component > .barscr {
  border-left: 4px solid var(--content-theme-color);
  height: 5rem;
  padding: 1px;
}

.intro_container
  > .intro_about
  > .scroll_area
  > .scroll_component
  > span:hover {
  color: var(--content-hover-color);
  box-shadow: 0 0 10px var(--content-hover-color);
  border-radius: 1rem;
}

/* Skill section */

.skill_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.skill_container > .skill_tech {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40%;
}

.skill_container > .skill_tech > .skill_title {
  display: flex;
}

.skill_container > .skill_tech > .skill_title > span {
  display: flex;
  font-size: 30px;
  padding: 1rem;
  color: #000;
  background-color: var(--content-theme-color);
  border-radius: 1rem;
}

.skill_container > .skill_tech > .skill_section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.skill_container > .skill_tech > .skill_section > .skill_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: var(--content-theme-color);
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}

.skill_container > .skill_tech > .skill_section > .skill_card > span {
  font-weight: bolder;
  border-radius: 1rem;
  background-color: var(--background-theme-color);
  padding: 1rem;
}

.skill_container > .skill_tech > .skill_section > .skill_card:hover,
.skill_container > .skill_tech > .skill_section > .skill_card > span:hover {
  box-shadow: 0 0 16px var(--content-hover-color);
  transition: 0.2s ease;
}

.skill_container > .skill_tech > .skill_section > .softskill_card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--content-theme-color);
}

.skill_container > .skill_tech > .skill_section > .softskill_card:hover {
  box-shadow: 0 0 16px var(--content-hover-color);
  transition: 0.2s ease;
}

/* Project Section */
.projects_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  background-color: var(--content-theme-color);
  overflow: hidden;
}

.projects_container > a {
  text-decoration: none;
  color: var(--background-theme-color);
  font-size: 40px;
}

.projects_container > span {
  padding: 2rem;
  color: var(--background-theme-color);
  font-size: 30px;
}

.projects_container > a:hover {
  color: var(--content-hover-color);
}

.projects_container > .footer_section {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
